
     body {
       background-color: rgb(254, 250, 224);
     }
      h1 {
        font-family: cursive;
        text-align: center;
      }

      h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

      p {
        font-family: Arial, Helvetica, sans-serif;
      }

      b {
        text-decoration: underline;
      }

      .Hab{
        font-size: 20px;
      }

      #Dados{
          
          text-align: center;
      }
      
      #text{
          margin-left: 10px;
          text-align: center;
          display: inline-block;
          position:relative;
          top: -100px;
      }


      figure{
        padding: 10px;
        background-color: #f3f3f3;
        display: inline-block;
      }

      nav ul li{
        display: inline;
        padding: 10px;
      }

      nav ul li:hover{
          background-color: coral;
      }

      nav{
        text-align: center;
      }

      #Nav1, #Nav2{
        margin:auto;
        display: table;
        text-align: center;
      }

      #Nav1 ol li:nth-child(odd) {
          background-color: lightsalmon;
      }
      

